fastapi==0.111.0
uvicorn==0.30.1
pyzmq==26.0.3
ipykernel==6.29.4
jupyter_client==8.6.2
websockets==12.0
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
xgboost
lightgbm
joblib
cryptography
requests
beautifulsoup4
dnspython
aiohttp
